html {
    background: radial-gradient(circle, rgb(225, 225, 225), rgb(255, 255, 255));
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .main_container, .right_container {
        width: 90% !important;
    }
    .braille {       
        font-size: 20pt;
    }
    .normal {
        font-size: 18pt;
    }
    table {
        font-size: 0.8em;
        overflow-x: auto;
        display: block;
    }
    .subsection_container {
        overflow-x: auto;
    }
}

@font-face {
    font-family: "Braille_6P_Normal";
    src: url("fonts/ONCE_CBE_6.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Braille_6P_Framed";
    src: url("fonts/ONCE_CBE_6E.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Braille_6P_Guided";
    src: url("fonts/ONCE_CBE_6G.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Braille_6P_Guided_Framed";
    src: url("fonts/ONCE_CBE_6EG.ttf");
    font-style: normal;
    font-display: block;
}

.braille {
    font-family: "Braille_6P_Normal";
    font-size: 26pt;
    margin: 0.5rem;
}

.normal {
    font-family:"";
    font-size: 22pt;
    margin: 0rem;
    padding: 0;
}

h1 {
    margin: 0.3rem;
}

.title_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    overflow-x: auto;
}

.main_container {
    display: flex;
    box-sizing: content-box;
    justify-content: space-around;
    flex-direction: column;
    margin: 0.5rem;
    width: 70%;
}

main {
    display: flex;
}

.right_container {
    box-sizing: content-box;
    align-items: flex-start;
    margin: 0.5rem;
    width: 30%;
    overflow-x: auto;
}

#signs {
    display: flex;
}

#punctuation_signs, #diacritic_signs {
    display: flex;
    flex-direction: column;
}

.subsection_container {
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem;
    overflow-x: auto;
    overflow-y: auto;
}

.section_container {
    display: block;
    flex-direction: column;
    overflow: visible;
}

.section_container:nth-child(1) { order: 1; } /* Abecedario */
.section_container:nth-child(2) { order: 2; } /* Dígitos y caracteres */
.section_container:nth-child(3) { order: 3; } /* Signos */

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.footer_container p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.3rem;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    width: 10rem;
    height: 5rem;
    font-size: 15pt;
    color: white;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 30%, rgba(44, 44, 44, 1) 100%, rgba(133, 133, 133, 1) 68%);}

.origin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

table {
    align-content: center;
    justify-content: center;
    width: 100%;
    table-layout: auto;
}

td {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
}

p {
    font-size: large;
    margin: 0.5rem;
}

pre {
    margin: 0;
    line-height: 1;
}
